 tr {
    border: 1px;
    
    
  }
  th{
      background-color: rgb(40, 40, 128);
      text-size-adjust: 300Spx;
      color: white;
  }
  
  td {
    background-color: #FFF;
  }
  
  td {
    background-color: #FFF;
  }
  h2{
    color:rgb(40, 40, 128);
  }